services:
  user-service:
    image: user-service:1.0.0
    container_name: user-service
    env_file:
      - .env
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - '8081:8081'
    environment:
      SPRING_DATA_REDIS_HOST: ${USER_REDIS_HOST}
      SPRING_DATA_REDIS_PORT: ${USER_REDIS_PORT}
      SPRING_DATASOURCE_URL: ${USER_POSTGRES_URL}
      SPRING_DATASOURCE_USERNAME: ${USER_POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${USER_POSTGRES_PASSWORD}
    depends_on:
      user-service-postgres:
        condition: service_healthy
      user-service-redis:
        condition: service_started

  user-service-postgres:
    image: 'postgres:16.10'
    container_name: user-service-postgres
    env_file:
      - .env
    ports:
      - '5433:5432'
    environment:
      POSTGRES_DB: ${USER_POSTGRES_DB}
      POSTGRES_USER: ${USER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${USER_POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER_POSTGRES_USER} -d ${USER_POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - user-service-postgres-data:/var/lib/postgresql/data

  user-service-redis:
    image: 'redis:7.4'
    container_name: user-service-redis
    env_file:
      - .env
    ports:
      - '6379:6379'
    volumes:
      - user-service-redis-data:/var/lib/redis/data

  authentication-service:
    image: authentication-service:1.0.0
    container_name: authentication-service
    env_file:
      - .env
    build:
      context: ./authentication-service
      dockerfile: Dockerfile
    ports:
      - '8082:8082'
    environment:
      SPRING_DATASOURCE_URL: ${AUTHENTICATION_POSTGRES_URL}
      SPRING_DATASOURCE_USERNAME: ${AUTHENTICATION_POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${AUTHENTICATION_POSTGRES_PASSWORD}
      SERVICES_USER-SERVICE_URI: ${DOCKER_USER_SERVICE_URI}
    depends_on:
      authentication-service-postgres:
        condition: service_healthy

  authentication-service-postgres:
    image: 'postgres:16.10'
    container_name: authentication-service-postgres
    env_file:
      - .env
    ports:
      - '5434:5432'
    environment:
      POSTGRES_DB: ${AUTHENTICATION_POSTGRES_DB}
      POSTGRES_USER: ${AUTHENTICATION_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AUTHENTICATION_POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${AUTHENTICATION_POSTGRES_USER} -d ${AUTHENTICATION_POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - authentication-service-postgres-data:/var/lib/postgresql/data

  order-service:
    image: order-service:1.0.0
    container_name: order-service
    env_file:
      - .env
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - '8083:8083'
    environment:
      SPRING_DATASOURCE_URL: ${ORDER_POSTGRES_URL}
      SPRING_DATASOURCE_USERNAME: ${ORDER_POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${ORDER_POSTGRES_PASSWORD}
      SERVICES_USER-SERVICE_URI: ${DOCKER_USER_SERVICE_URI}
      SPRING_KAFKA_BOOTSTRAPSERVERS: ${PAYMENT_ORDER_KAFKA_URL}
    depends_on:
      order-service-postgres:
        condition: service_healthy

  order-service-postgres:
    image: 'postgres:16.10'
    container_name: order-service-postgres
    env_file:
      - .env
    ports:
      - '5435:5432'
    environment:
      POSTGRES_DB: ${ORDER_POSTGRES_DB}
      POSTGRES_USER: ${ORDER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${ORDER_POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${ORDER_POSTGRES_USER} -d ${ORDER_POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - order-service-postgres-data:/var/lib/postgresql/data

  gateway-service:
    image: gateway-service:1.0.0
    container_name: gateway-service
    env_file:
      - .env
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    ports:
      - '8084:8084'
    environment:
      SERVICES_USER-SERVICE_URI: ${DOCKER_USER_SERVICE_URI}
      SERVICES_AUTHENTICATION-SERVICE_URI: ${DOCKER_AUTHENTICATION_SERVICE_URI}
      SERVICES_ORDER-SERVICE_URI: ${DOCKER_ORDER_SERVICE_URI}
      SERVICES_PAYMENT-SERVICE_URI: ${DOCKER_PAYMENT_SERVICE_URI}
    depends_on:
      user-service:
        condition: service_started
      authentication-service:
        condition: service_started
      order-service:
        condition: service_started

  payment-service:
    image: payment-service:1.0.0
    container_name: payment-service
    env_file:
      - .env
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    ports:
      - '8085:8085'
    environment:
      SPRING_DATA_MONGODB_URI: ${PAYMENT_MONGODB_URL}
      SPRING_KAFKA_BOOTSTRAPSERVERS: ${PAYMENT_ORDER_KAFKA_URL}
    depends_on:
      payment-service-mongodb:
        condition: service_started
      payment-order-kafka:
        condition: service_started

  payment-service-mongodb:
    image: 'mongo:8.2.1'
    container_name: payment-service-mongodb
    env_file:
      - .env
    ports:
      - '27018:27017'
    environment:
      MONGO_INITDB_DATABASE: ${PAYMENT_MONGODB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${PAYMENT_MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${PAYMENT_MONGODB_PASSWORD}
    volumes:
      - payment-service-mongodb-data:/var/lib/mongodb/data

  payment-order-kafka:
    image: 'apache/kafka:4.0.1'
    container_name: payment-order-kafka
    env_file:
      - .env
    ports:
      - '9090:9092'
      - '9093:9093'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://${PAYMENT_ORDER_KAFKA_URL},EXTERNAL://localhost:9093'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@localhost:9094'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
    volumes:
      - payment-order-kafka-data:/var/lib/kafka/data

volumes:
  user-service-postgres-data:
    name: user-service-postgres-data
  user-service-redis-data:
    name: user-service-redis-data
  authentication-service-postgres-data:
    name: authentication-service-postgres-data
  order-service-postgres-data:
    name: order-service-postgres-data
  payment-service-mongodb-data:
    name: payment-service-mongodb-data
  payment-order-kafka-data:
    name: payment-order-kafka-data