apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication-service
  labels:
    app: authentication-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication-service
  template:
    metadata:
      name: authentication-service
      labels:
        app: authentication-service
    spec:
      containers:
        - name: authentication-service
          image: haof/authentication-service
          ports:
            - containerPort: 8082
          env:
            - name: USER_SERVICE_URI
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_SERVICE_URI
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://authentication-service-postgres:5432/authdb"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: auth-db-user
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: auth-db-password
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: token-secret
                  key: jwt-secret-key
            - name: INTERNAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: token-secret
                  key: internal-api-key
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8082
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
