server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: ${LOCAL_USER_POSTGRES_URL}
    username: ${LOCAL_USER_POSTGRES_USERNAME}
    password: ${LOCAL_USER_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    contexts: dev

  data:
    redis:
      host: ${LOCAL_USER_REDIS_HOST}
      port: ${LOCAL_USER_REDIS_PORT}

security:
  jwt:
    secret_key: ${JWT_SECRET_KEY}
  internal:
    api:
      key: ${INTERNAL_API_KEY}

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
