apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      name: order-service
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: haof/order-service
          ports:
            - containerPort: 8083
          env:
            - name: USER_SERVICE_URI
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_SERVICE_URI
            - name: SPRING_KAFKA_BOOTSTRAPSERVERS
              value: "payment-order-kafka:9092"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://order-service-postgres:5432/orderdb"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: order-db-user
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: order-db-password
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: token-secret
                  key: jwt-secret-key
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
